*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 16rem;
    width: 100%;
    position: relative;
}
.heading{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-weight: bolder;
    color: whitesmoke;
    font-size: 2rem;
}
.hotelbg{
    height: 16rem;
    width: 100%;
}

.card-section{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

/* Card */
.card{
    height: 12rem;
    width: 10rem;
    background-color: #f6f6f6;
    border-radius: 5px ;
}

.card-hero{
    width: 10rem;
    height: 5rem;
}

.card-image{
    width: 10rem;
    height: 6rem;
    border-radius: 5px 5px 0 0;
}

.card-content{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.3rem;
    padding: 0.5rem;
}

.card-title{
    font-weight: bolder;
    font-size: 1rem;
}
.card-desc{
    font-size: 0.8rem;
}